.container {
  
  padding-top: 63px;
}

.main {
  min-height: 100vh;
  
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
.trendingNewsContainer{
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  max-height: 360px;
  height: 360px;
  overflow-y: hidden;
  width: 100%;
  align-items: center;
}
.mainTrend{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 260px;
  max-height: 260;
  overflow: hidden;
  border: 0.5px solid cadetblue;
  margin-bottom: 10px;
  align-items: flex-end;
}
.mainTrendImage{
  display: block;
  width: 100%;
  height: 260px;
  max-height: 260px;
  object-fit: cover;
}
.mainTrendPic{
  width: 100%;
  height: 260px;
  max-height: 260px;
  object-fit: cover;
  margin-right: 80px;
}
.mainTrendText{
  width: 40%;
  max-width: 40%;
  height:70px;
  max-height: 70px;
  padding-left: 5px;
  align-self: flex-end;
  margin-bottom: 30px;
}
.otherTrendingContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 60%;  
  max-width: 60%;
  height: 260px;
  max-height: 260px;
  margin-left: 10px;
  margin-right: 0px;
  
}
.otherTrendinItemsContainer{
  display: flex;
  max-height: 86px;
  height: 86px;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 10px;

}
.otherTrendItems{
  width: 100%;
  height: 100%;
  border: 0.5px solid cadetblue;
  display: flex;
  align-items: flex-end;
}
.otherTrendingItemsImage{
  width: 90%;
  height: 100%;
}
.otherTrendPic{
  width: 90%;
  height: 100%;
  object-fit: cover;
}

.otherTrendingItemsText{
  width: 100%;
  max-width: 100%;
  font-size: 12px;
}
.legend{
  width: fit-content;
  position: absolute;
  top:100px;
  max-width: 40%;
  z-index: 1000;
  left: 30px;
  background-color: black;
  padding: 5px;
 word-wrap: break-word;
  opacity: 50%;
  border-radius: 10px;
  text-align: center;
}


@media (max-width: 600px) {
  .trendingNewsContainer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    max-height: 360px;
    height: 360px;
    overflow-y: hidden;
  }
  .mainTrend{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 360px;
    max-height: 360px;
    overflow: hidden;
    border: 0.5px solid cadetblue;
    margin-bottom: 10px;
  }
  .mainTrendImage{
    display: block;
    width: 100%;
    height: 240px;
    max-height: 240px;
  }
  .mainTrendPic{
    width: 100%;
    height: 180px;
    max-height: 180px;
  }
  .mainTrendText{
    width: 100%;
    max-width: 100%;
    height:70px;
    max-height: 70px;
    
  }
  .otherTrendingContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60%;  
    max-width: 60%;
    height: 360px;
    max-height: 360px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .otherTrendinItemsContainer{
    display: flex;
    max-height: 99px;
    height: 99px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .otherTrendItems{
    width: 100%;
    height: 100%;
    border: 0.5px solid cadetblue;
  }
  .otherTrendingItemsImage{
    width: 90%;
    height: 100%;
  }
  .otherTrendPic{
    width: 90%;
    height: 100%;
    object-fit: cover;
  }
  
  .otherTrendingItemsText{
    width: 100%;
    max-width: 100%;
    font-size: 12px;
  }
  .legend{
    width: fit-content;
    position: absolute;
    top:100px;
    max-width: 40%;
    z-index: 1000;
    left: 30px;
    background-color: black;
    padding: 5px;
   word-wrap: break-word;
    opacity: 50%;
    border-radius: 10px;
    text-align: center;
  }

}