.container{
    
    display: flex;
    flex-direction: row;
    padding: 40px;
    padding-top: 63px;
    align-items: center;
    justify-content: space-between;
}
.newsForm{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    
}
.formControls{
    margin-top: 7px;
}
.picPreview{
    margin-top: 5px;
}